#root {
  background: #E5E5E5;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
  z-index: 1;
}

html {
 background: #E5E5E5; 
}

body .home{
  background: url(./images/coffee-apple3.jpg) no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  z-index: -1;
}

.benis span.animated {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 50px;
  height: 4px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}


.benis span::before,
.benis span::after {
  position: absolute;
  top: -23px;
  content: "";
  height: 30px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
}

.benis span::before {
  left: -10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  transform:         rotate(-45deg);
}

.benis span::after {
  right: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);
}

.terminal {
  justify-content: right;
  text-align: left;
  margin: auto;
  width: 17rem;
  height: 2.4rem;
  border-radius: 0.2rem;
  background: #222;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75));
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
  overflow: hidden;
  padding: 0.5rem;
  margin-top: -1rem;
  animation: moveUp .45s ease-out;
}

ul {
  margin-top: 0;
  list-style-type: none;
}

li {
  margin: 1.1rem;
}

.MuiCardMedia-img {
  background-size: cover;
}

.animated-left {
  animation: moveInLeft .45s ease-out;
}

.animated-right {
  animation: moveInRight .45s ease-out;
}

@keyframes moveInLeft {
  0% {
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(100px);
  }

  100% {
    transform: translateY(0);
  }
}