#root {
  background: #E5E5E5;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background: cover;
  z-index: 1;
}

html {
 background: #E5E5E5; 
}

body .home{
  background: url(./images/coffee-apple3.jpg) no-repeat center center/cover;
  height: 140vh;
  width: 100vw;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  z-index: -1;
  margin: 0;
}

.benis span.animated {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 50px;
  height: 4px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-delay: 1.5s;
}


.benis span::before,
.benis span::after {
  position: absolute;
  top: -23px;
  content: "";
  height: 30px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
}

.benis span::before {
  left: -10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  transform:         rotate(-45deg);
}

.benis span::after {
  right: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);
}

.clip {
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
}
.header {
  z-index: -1 !important;
  margin-top: -10rem;
  /* clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%); */
  clip-path: polygon(5% 50%, 100% 50%, 100% 100%, 50% 100%);
  height: 8 0vh;
  background-color: tomato; 
  text-align: center;
}

.orange-header {
  z-index: -1 !important;
  margin-top: -13rem;
  clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
  height: 60vh;
  background-color: tomato; 
  text-align: center;
}

.blue-header {
  z-index: -1 !important;
  margin-top: -13rem;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  height: 60vh;
  background-color: #3f51b5; 
  text-align: center;
}
.terminal {
  justify-content: right;
  text-align: left;
  margin: auto;
  width: 17rem;
  height: 2.4rem;
  border-radius: 0.2rem;
  background: #222;
  background-image: radial-gradient(rgba(0, 150, 0, 0.75));
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
  overflow: hidden;
  padding: 0.5rem;
  margin-top: -1rem;
  animation: moveUp .45s ease-out .75s;
  animation-fill-mode: backwards;
}

ul {
  margin-top: 0;
  list-style-type: none;
}

li {
  margin: 1.1rem;
  margin-left: -10px;
}

.MuiCardMedia-img {
  background-size: cover;
}

.animated-left {
  animation: moveInLeft .6s ease-out;
  animation-delay: .5;
}

.animated-right {
  animation: moveInRight .6s ease-out;
  animation-delay: .5;
}

.spinner-container {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(195, 195, 195, 0.6);
  border-radius: 50%;
  border-top-color: #636767;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

.spinner-overlay {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }

  80% {
    opacity: .8;
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }

  80% {
    opacity: .8;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-left-card {
  animation: moveInLeftCard .8s ease-out;
  animation-delay: .5;
}

.animated-right-card {
  animation: moveInRightCard .8s ease-out;
  animation-delay: .5;
}

@keyframes moveInLeftCard {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }

  80% {
    opacity: .8;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRightCard {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }

  80% {
    opacity: .8;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}